body {
    font-family: "Cormorant Garamond", serif;
    background: url("https://firebasestorage.googleapis.com/v0/b/how-to-care-for-kerry.firebasestorage.app/o/Background.png?alt=media&token=b283fd07-9440-4e77-b2d8-ea10bb2ecce1");
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  